<div class="container">
  <h2>Admin Panel</h2>
  <input type="text" class="form-control mt-3 mb-3" placeholder="Search Users" [(ngModel)]="searchQuery" (input)="searchUsers()">
  <table class="table table-striped">
    <thead>
    <tr>
      <th (click)="sortUsers('username')">Username</th>
      <th (click)="sortUsers('name')">Name</th>
      <th (click)="sortUsers('surname')">Surname</th>
      <th (click)="sortUsers('email')">Email</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.username }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.surname }}</td>
      <td>{{ user.email }}</td>
      <td>
        <button class="btn btn-warning btn-sm" (click)="editUser(user.username)">Edit</button>
        <button class="btn btn-danger btn-sm" (click)="deleteUser(user.username)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
