<div class="container">
  <h1 class="mt-5">Admin Panel</h1>
  <input type="text" class="form-control mt-3 mb-3" placeholder="Search Users" [(ngModel)]="searchQuery" (input)="searchUsers()">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.username }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.surname }}</td>
      <td>{{ user.email }}</td>
      <td>
        <button class="btn btn-warning" (click)="editUser(user.username)">Edit</button>
        <button class="btn btn-danger" (click)="deleteUser(user.username)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
