<div class="container">
  <h2>Admin Panel</h2>
  <div class="total-count">Total users: <b>{{ totalUsers }}</b></div>
  <input type="text" class="form-control mt-3 mb-3" placeholder="Search Users" [(ngModel)]="searchQuery" (input)="searchUsers()">

  <table class="table table-striped">
    <thead>
    <tr>
      <th (click)="sortUsers('username')">Username <span *ngIf="sortBy === 'username'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span></th>
      <th (click)="sortUsers('name')">Name <span *ngIf="sortBy === 'name'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span></th>
      <th (click)="sortUsers('surname')">Surname <span *ngIf="sortBy === 'surname'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span></th>
      <th (click)="sortUsers('email')">Email <span *ngIf="sortBy === 'email'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span></th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.username }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.surname }}</td>
      <td>{{ user.email }}</td>
      <td>
        <button (click)="editUser(user.username)" class="btn btn-warning">Edit</button>
        <button (click)="deleteUser(user.username)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li [class.disabled]="currentPage === 1" class="page-item">
        <a (click)="changePage(currentPage - 1)" class="page-link">Previous</a>
      </li>
      <li *ngFor="let p of [].constructor(Math.ceil(totalUsers / limit)); let i = index" [class.active]="currentPage === i + 1" class="page-item">
        <a (click)="changePage(i + 1)" class="page-link">{{ i + 1 }}</a>
      </li>
      <li [class.disabled]="currentPage === Math.ceil(totalUsers / limit)" class="page-item">
        <a (click)="changePage(currentPage + 1)" class="page-link">Next</a>
      </li>
    </ul>
  </nav>
</div>
