.container {
  margin-top: 20px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-control {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
  }

  .table {
    margin-top: 20px;
    th {
      cursor: pointer;
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}
