.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: #007bff;
  text-decoration: none;

  &:hover {
    background-color: #e9ecef;
  }

  &.active {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
  }

  &.disabled {
    color: #6c757d;
    pointer-events: none;
  }
}

.page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  padding: 5px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: #007bff;

  &.active {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
  }

  &:hover {
    background-color: #e9ecef;
  }
}
